.navbar-collapse ul.navbar-nav li {
    font-family: "Noto Sans CJK TC", Times, serif;
    font-size: 20px;
}

.navbar {
    background-color: #faf5ee;
    color: #29170f;
    width: 1099px;
    height: 45px;
    text-align: center;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
    left: 5px;
}

.navbar-light .navbar-nav .nav-link {
    color: #29170f;
}