body {
    background-image: url('./../images/home/background.jpg');
}

.all {
    margin: 0 auto;
    text-align: center;
    width: 1099px;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
}
