body {
    background-image: url('./../images/home/background.jpg');
}

.all {
    margin: 0 auto;
    text-align: center;
    width: 1100px;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
}

.left {
    float: left;
    width: 220px;
    height: 160px;
}

.hover :hover {
    opacity: 0.8;
}

.post {
    margin: 0 auto;
    text-align: center;
    width: 1099px;
    height: 807px;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
}