body {
    background-image: url('./../images/home/background.jpg');
    padding: 0px;
    margin: 0;
}

.all {
    margin: 0 auto;
    text-align: center;
    width: 1709px;
    padding: 0px;
}

.function{
    float: left;
    width: 56px;
}

.float{
    float: left;
}

.notes{
    display: none;
}

.dice{
    display: none;
}


.diceE{
    display: none;
}

.music{
    display: none;
}
