.body {
    padding: 0;
    margin: 0;
}

.info {
    width: 15%;
    height: 75vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffca80;
    float: left;
}

.gaming {
    width: 70%;
    height: 75vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffb143;
    float: left;
}

.end {
    width: 15%;
    height: 75vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    background-color: #5043ff;
    float: left;
}

.gmbox {
    width: 40%;
    height: 25vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    background-color: #e0ddff;
    float: left;
}

.playerbox {
    width: 40%;
    height: 25vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    background-color: #b1acff;
    float: left;
}

.dice {
    width: 20%;
    height: 25vh;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    background-color: #7a70ff;
    float: left;
}

.textbox {
    font-size: large;
    resize: none;
    padding: 0;
    border: 0;
    margin: 0;
}