body {
    z-index: 0;
    background-image: url('./../images/login/login.jpg');
}

.all {
    margin: 0 auto;
    text-align: center;
    width: 1100px;
    height: 110px;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
    padding: 0px;
}