.role {
    display: block;
}

.background {
    display: none;
}

.object {
    display: none;
}

.upload {
    width: 32%;
    height: 15vh;
    background: gray;
    color: black;
    display: inline-block;
    border-style: solid;
    padding: 0;
    margin: 0;
}

.uploadImg {
    max-height: 80%;
    max-width: 100%;
    margin: 0;
    display: block;
}