body {
    background-image: url('./../images/home/background.jpg');
}

.all {
    margin: 0 auto;
    text-align: center;
    width: 1100px;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
    padding: 0px;
}

.e:hover {
    opacity: 0.75;
}

.source_roles {
    display: none;
}