body {
    background-image: url('./../../images/home/background.jpg');
}

.e :hover {
    opacity: 0.9;
}

.all {
    margin: 0 auto;
    text-align: center;
    width: 1100px;
    height: 875px;
    box-shadow: 0px 0px 12px 4px rgba(20%, 20%, 40%, 0.5);
}